@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  @apply text-black;
}

h1 {
  @apply text-60 font-semibold;
}
h2 {
  @apply text-46 font-semibold;
}

svg {
  @apply inline-block max-w-[25px] max-h-[25px] fill-grey;
}

.btn {
  @apply px-10 py-3 rounded-[5px] uppercase text-18 text-white font-semibold;

  &-confirm {
    @apply bg-green;
  }
  &-cancellation {
    @apply bg-error;
  }
}

// TRANSITION
.slide-down-enter-active, .slide-down-leave-active {
  transition: all 0.5s;
  transform: translateY(0);
}
.slide-down-enter-from, .slide-down-leave-to {
  transform: translateY(-100%);
}